@using SymptomsProject.Enums
@model SymptomsProject.Models.Patient

@{
    ViewData["Title"] = "Detalhes dos Pacientes";
}

<div class="container my-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <h4 class="card-title text-center mb-4">Informações do paciente</h4>
    <div class="card shadow mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <dl class="row text-center">
                <dt class="col-6 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-6 font-weight-bold">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt class="col-6 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-6 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CreationDate)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>

                <dt class="col-6 font-weight-bold">
                    @Html.DisplayNameFor(model => model.EditDate)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.EditDate)
                </dd>
            </dl>
        </div>
    </div>
    <h4 class="card-title text-center mb-3 mt-3">Sintomas do paciente</h4>
    <div class="card shadow mx-auto my-2" style="max-width: 600px;">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <td class="font-weight-bold">
                        Severidade
                    </td>
                    <td class="font-weight-bold">
                        Sintomas
                    </td>
                    <td class="font-weight-bold">
                        Descrição
                    </td>
                    <td class="font-weight-bold">
                        Detalhes
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (Symptom symptom in Model.Symptoms)
                {
                    <tr>
                        <td>@symptom.SeverityType</td>
                        <td>
                            @foreach (SymptomType symptomtype in symptom.SymptomTypes)
                            {
                                <span class="d-block">@Html.DisplayFor(model => symptomtype)</span>
                            }
                        </td>
                        <td>@symptom.Description</td>
                        <td><a asp-controller="Symptoms" asp-action="Details" asp-route-id="@symptom.Id">Detalhes</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


        
        <div class="card-footer text-center">
            <a asp-action="Index" class="btn btn-secondary mx-2">Voltar para a lista</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mx-2">Editar</a>
        </div>
</div>
