@using SymptomsProject.Enums
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model SymptomsProject.Models.ViewModels.SymptomCreateViewModel

@{
    ViewData["Title"] = "Create";
}

@functions {
    public string GetEnumDisplayName(Enum enumValue)
    {
        return enumValue.GetType()
            .GetMember(enumValue.ToString())
            .FirstOrDefault()
            ?.GetCustomAttribute<DisplayAttribute>()
            ?.Name ?? enumValue.ToString();
    }
}

<h1>Create</h1>

<h4>Symptom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Symptom.Patient" class="control-label"></label>
                <select asp-for="PatientSelectedId" class="form-control">
                    @foreach (Patient item in Model.Patients)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.SeverityType" class="control-label"></label>
                <select name="Symptom.SeverityType" class="form-control">
                    <option>Escolher...</option>
                    @foreach (SeverityType item in Enum.GetValues(typeof(SeverityType)))
                    {
                        <option value="@item">@GetEnumDisplayName(item)</option>
                    }
                </select>
                <span asp-validation-for="Symptom.SeverityType" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Symptom.SymptomTypes" class="control-label"></label>
                <div class="overflow-auto" style="max-height: 200px;">
                    @foreach (SymptomType item in Enum.GetValues(typeof(SymptomType)))
                    {
                        <div>
                            <input type="checkbox" name="Symptom.SymptomType" value="@item" />
                            @GetEnumDisplayName(item)
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.Description" class="control-label"></label>
                <input asp-for="Symptom.Description" class="form-control" />
                <span asp-validation-for="Symptom.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.CreationDate" class="control-label"></label>
                <input asp-for="Symptom.CreationDate" class="form-control" />
                <span asp-validation-for="Symptom.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptom.EditDate" class="control-label"></label>
                <input asp-for="Symptom.EditDate" class="form-control" />
                <span asp-validation-for="Symptom.EditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
