@using SymptomsProject.Enums
@model IEnumerable<SymptomsProject.Models.Symptom>

@{
    ViewData["Title"] = "Lista de Sintomas";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>
<p class="text-center lead mb-4">Gerencie os sintomas dos pacientes cadastrados no sistema.</p>

<div class="d-flex justify-content-center mb-4">
    <a asp-action="Create" class="btn btn-lg btn-primary px-5 py-0">
        <i class="bi bi-clipboard2-plus" style="font-size: 2rem;"></i>
    </a>
</div>

<table class="table table-striped table-hover table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Patient)</th>
            <th>@Html.DisplayNameFor(model => model.SeverityType)</th>
            <th>@Html.DisplayNameFor(model => model.SymptomTypes)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th>@Html.DisplayNameFor(model => model.EditDate)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(model => item.Patient.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.SeverityType)</td>
                <td>
                    @foreach(SymptomType symptomTypes in item.SymptomTypes)
                    {
                        @Html.DisplayFor(modelItem => symptomTypes) <br/>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@item.CreationDate.ToString("dd/MM/yyyy")</td>
                <td>@item.EditDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning shadow-sm mr-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info shadow-sm mr-2">Detalhes</a>
                    <button data-toggle="modal" data-target="#modalDelete" data-name="@item.Patient.Name" data-id="@item.Id" 
                            class="btn btn-sm btn-danger shadow-sm">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white justify-content-between">
                <h5 class="modal-title text-white" id="modalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close btn btn-light rounded-5 shadow-sm" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="dynamic-text"></p>
                <p class="text-danger">Isso excluirá todos os registros relacionados a este sintoma!</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-action="Delete">
                    <input type="hidden" name="id" id="deleteId" />
                    <button type="submit" id="confirmDelete" class="btn btn-success">Confirmar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#modalDelete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        var id = button.data('id'); 
        let name = button.data('name');

        var modal = $(this);
        modal.find('.dynamic-text').text('Tem certeza que deseja deletar o registro do paciente ' + name + '?');
        $('#deleteId').val(id);
    });
</script>